<%= form_with(model: purpose) do |form| %>
<% if purpose.errors.any? %>
<div id="error_explanation" class="bg-red-50 p-6 rounded text-red-800">
  <h2 class="text-lg font-semibold mb-3"><%= pluralize(purpose.errors.count, "error") %> prohibited this purpose from being saved:</h2>

  <ul class="list-disc leading-relaxed">
    <% purpose.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

  <div class="mb-6">
        <%= form.label :customer_id, class: label_class %>
          <%= form.select :customer_id, options_from_collection_for_select(Customer.all, 'id', 'customer_code', selected = purpose.customer_id), class: label_class %>
      </div>
  <div class="mb-6">
        <%= form.label :booking_id, class: label_class %>
          <%= form.select :booking_id, options_from_collection_for_select(Booking.all, 'id', 'booking_code', selected = purpose.booking_id), class: label_class %>
      </div>
  <div class="mb-6">
        <%= form.label :their_purpose, class: label_class %>
          <%= form.text_area :their_purpose, class: input_class %>
      </div>

<%= form.submit class: button_class(theme: 'primary') %>

<% if purpose.persisted? %>
<%= link_to "Cancel", purpose, class: "text-neutral-700 underline inline-block ml-3" %>
<% else %>
<%= link_to "Cancel", purposes_path, class:  "text-neutral-700 underline inline-block ml-3" %>
<% end %>
<% end %>
