<div id="<%= dom_id booking %>">
  <p>
    <strong>Booking code:</strong>
    <%= booking.booking_code %>
  </p>

  <p>
    <strong>Customer:</strong>
    <%= booking.customer_id %>
  </p>

  <p>
    <strong>Check in date:</strong>
    <%= booking.check_in_date %>
  </p>

  <p>
    <strong>Check out date:</strong>
    <%= booking.check_out_date %>
  </p>

</div>
