<div id="<%= dom_id customer %>">
  <p>
    <strong>Customer name:</strong>
    <%= customer.customer_name %>
  </p>

  <p>
    <strong>Customer code:</strong>
    <%= customer.customer_code %>
  </p>

  <p>
    <strong>Nationality:</strong>
    <%= customer.nationality %>
  </p>

  <p>
    <strong>Date birth:</strong>
    <%= customer.date_birth %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= customer.address %>
  </p>

</div>
