<div id="<%= dom_id room %>">
  <p>
    <strong>Room number:</strong>
    <%= room.room_number %>
  </p>

  <p>
    <strong>Hotel:</strong>
    <%= room.hotel_id %>
  </p>

  <p>
    <strong>No adult:</strong>
    <%= room.no_adult %>
  </p>

  <p>
    <strong>No children:</strong>
    <%= room.no_children %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= room.price %>
  </p>

</div>
