<div class="max-w-3xl mx-auto px-4">
  <div class="flex items-center justify-between">
    <h1 class="flex-1 font-bold text-3xl">Room</h1>

    <div class="flex-wrap lg:flex items-center lg:space-x-3">
      <%= link_to rooms_path, class: button_class(theme: "transparent") do %>
      All Rooms
      <% end %>
      <%= link_to edit_room_path(@room), class: button_class(theme:"primary") do %>
      Edit
      <% end %>
    </div>
  </div>

  <ul class="text-slate-700">
      <li>
        <p class="font-semibold">Room number:</p>
        <p><%= @room.room_number %></p>
      </li>
      <li>
        <p class="font-semibold">Hotel:</p>
        <p><%= @room.hotel.hotel_name %></p>
      </li>
      <li>
        <p class="font-semibold">No adult:</p>
        <p><%= @room.no_adult %></p>
      </li>
      <li>
        <p class="font-semibold">No children:</p>
        <p><%= @room.no_children %></p>
      </li>
      <li>
        <p class="font-semibold">Price:</p>
        <p><%= @room.price %></p>
      </li>
  </ul>
</div>
