<%= form_with(model: hotel) do |form| %>
<% if hotel.errors.any? %>
<div id="error_explanation" class="bg-red-50 p-6 rounded text-red-800">
  <h2 class="text-lg font-semibold mb-3"><%= pluralize(hotel.errors.count, "error") %> prohibited this hotel from being saved:</h2>

  <ul class="list-disc leading-relaxed">
    <% hotel.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

  <div class="mb-6">
        <%= form.label :hotel_name, class: label_class %>
          <%= form.text_field :hotel_name, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :area_id, class: label_class %>
          <%= form.select :area_id, options_from_collection_for_select(Area.all, 'id', 'place_code', selected = hotel.area_id), class: label_class %>
      </div>
  <div class="mb-6">
        <%= form.label :location, class: label_class %>
          <%= form.text_area :location, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :no_emty_room, class: label_class %>
          <%= form.number_field :no_emty_room, class: input_class %>
      </div>

<%= form.submit class: button_class(theme: 'primary') %>

<% if hotel.persisted? %>
<%= link_to "Cancel", hotel, class: "text-neutral-700 underline inline-block ml-3" %>
<% else %>
<%= link_to "Cancel", hotels_path, class:  "text-neutral-700 underline inline-block ml-3" %>
<% end %>
<% end %>
