<div id="<%= dom_id hotel %>">
  <p>
    <strong>Hotel name:</strong>
    <%= hotel.hotel_name %>
  </p>

  <p>
    <strong>Area:</strong>
    <%= hotel.area_id %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= hotel.location %>
  </p>

  <p>
    <strong>No emty room:</strong>
    <%= hotel.no_emty_room %>
  </p>

</div>
